*, html {
    margin:0;
    padding:0;  
    background-color: rgb(20, 20, 20);
}


div.navigationbar {
    margin-left: 30px;
    margin-top: 50px;
    display: flex;
}

div.sections {
    margin-right: 1%;
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 150px;
    text-align: center;
}

a {
    text-decoration: none;
    color: rgba(255, 217, 0, 0.75);
}

a.current {
    color: gold;
}

div.namecard {
    margin-right: 50%;
    font-size: 40px;
}

div.namecard a {
    color: gold;
}


div.projectsdropdown {
    display: flex;
    flex-direction: column;
    text-align: center;
}


div.projectssubmenu {
    visibility: collapse;
    display: block;
    border-style: solid;
    border-color: rgb(40, 40, 40);
    font-size: 25px;
    color: rgba(255, 217, 0, 0.75);
    width: 150px;
    padding: 10px 4px 15px 4px;
    margin-top: 7px;
}



div.projectsdropdown:hover .projectssubmenu {
    visibility: visible;
}
.projectssubmenu:hover {
    background-color: rgb(40, 40, 40);
    .subclick {
        background-color: rgb(40, 40, 40);
    }
}


 a.click:hover{
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 15px;
}

div.spacer {
    height: 150px;
}

div.aboutmain {
    display: flex;
    flex-direction: row;
}

div.aboutmainsections {
    width: 40%;
    margin-left: 4%;
    margin-right: 3%;
    /* background-color: red; */
}

img {
    padding-left: 20%;
    padding-top: 50px;
    text-indent: -999999px;
    width: 60%;
    height: auto;
}

p {
    color: rgb(255, 251, 228);
    font-size: 20px;
    letter-spacing: 2px;
    line-height: 35px;
    font-weight: 100;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h2 {
    color: rgb(255, 239, 149);
    letter-spacing: 2px;
    margin-bottom: 10px;
    font-weight: lighter;
    font-size: 35px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1 {
    color: rgb(255, 232, 104);
    letter-spacing: 2px;
    margin-bottom: 10px;
    font-weight: lighter;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 40px;
}

.tablecontents {
    padding-left: 200px;
}

li {
    color: rgb(255, 251, 228);
    font-size: 20px;
    letter-spacing: 2px;
    line-height: 35px;
    font-weight: 100;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 20px;
    margin-left: 30px;
}

.maincontent {
    padding-left: 250px;
    padding-right: 250px;
    text-align: justify;
}

ul {
        color: rgb(255, 251, 228);
        font-size: 20px;
        letter-spacing: 2px;
        line-height: 35px;
        font-weight: 100;
        font-family: Georgia, 'Times New Roman', Times, serif;
}
.plink:hover {
    text-decoration: underline;
}

div.underconstruction {
    color: white;
    text-align: center;
    letter-spacing: 2.0px;
}

div.footer {
    height: 50px;
    margin-top: 80px;
    color: gold;
    text-align: center;
    font-size: 20px;
}

@media screen and (max-width: 1500px) {
    div.namecard {
        margin-right: 50%;
        font-size: 40px;
    }
}

@media screen and (max-width: 1250px) {
    div.namecard {
        margin-right: 25%;
        font-size: 40px;
    }
    div.sections {
        margin-right: 3%;
    }
    div.aboutmain {
        display: block;
        padding: 0px;
    }
    img {
        padding-top: 50px;
        display: block;
        text-indent: -999999px;
        padding-left: 10%;
        width: 80%;
        height: auto;
    }
    div.aboutmainsections {
        margin-left: 15%;
        width: 70%;
        margin-bottom: 40px;
    }
} /* For medium-large screens */